/* @override http://homepage.mac.com/soundmachinedream/prepare/prep.css */

/* generic styles to effect everything*/
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

/*main body and layout styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
body {
	padding-top: 100px;
	background: black;
	}
	
#container {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	border: none;
	}

#prepare {
	background: url(i/prep.jpg) center center no-repeat;
	width: 1000px;
	height: 175;
	}
	
#comingsoon {
	display: none;
	}	
	
/* type and links */	
* {
	font: 11px/15px verdana;
	color: white;
	text-transform: uppercase;
	}
	
a {
	color: lightsteelblue;
	text-decoration: none;
	}
a:hover {
	background: rgb(237,63,120);
	}			

#prepare p {
	text-indent: -9999px;	
	}
	
/* footer styles */	
#footer {
	margin-top: 100px;
	}
	
#footer ul {
	list-style: none;
	display: inline;
	}
	
#footer ul li {
	list-style: none;
	display: inline;
	margin-right: 5px;
	}