/* @override 
	http://kristianbjornard.com/sites/kristianbjornard.com/themes/zen/kb-pd/kb-pd.css
	http://www.kristianbjornard.com/sites/kristianbjornard.com/themes/zen/kb-pd/kb-pd.css
	/sites/kristianbjornard.com/themes/zen/kb-pd/kb-pd.css -- http://www.kristianbjornard.com/category/1/4
*/

/* $Id: style.css,v 1.1.2.1 2008/02/14 11:38:36 johnalbin Exp $ */

/* =global styles */
	* { clear: none; margin: 0; padding: 0; font-size: 1em;}
	.left { float:  left; }
	.right { float: right; }
	.clear { clear: both; }
	
/* =general layout */
	body { background: url(bg.png); }
	#page { margin-bottom: 420px; max-width: 1200px; }
	#main { margin-top: 90px; margin-left: 30px;}

/* =fixed positioning */
	#logo {
		position: fixed;
		bottom: -24px;
		left: 2.25em;
		z-index: 9;
		height: 400px;
		}
	
/******************************
 HORIZONTAL (down) menus
******************************/
/* kb [dot] com dropdown */	
	div#block-nice_menus-1 {
		position: fixed;
		top: 30px;
		left: 30px;
		z-index: 9;
		width: 200px;
		}
	div#block-nice_menus-1 ul#nice-menu-1 { 
		background: rgb(237,63,120); 
		margin: 0; 
		padding: 0;
		width: 200px;
		}	
	div#block-nice_menus-1 ul#nice-menu-1 li {
		display: list-item;
		width: 100%;
		padding: .2em 0;
		border: none;
		border-top: 1px solid white;
		background-color: rgb(237,63,120);
		}
	div#block-nice_menus-1 ul#nice-menu-1 li.menuparent a {
		color: white;
		}
	div#block-nice_menus-1 ul.nice-menu-down ul li {
  		background-color: rgb(237,63,120);
  		width: 100%;
		}
	div#block-nice_menus-1 ul.nice-menu-down ul li a:hover {
  		background-color: rgb(150,150,139);
		}

/* Work Classifications */	
	div#block-nice_menus-2 {
		position: fixed;
		top: 30px;
		left: 260px;
		z-index: 9;
		width: 200px;
		}
	div#block-nice_menus-2 ul#nice-menu-2 {
		background: rgb(237,63,120); 
		margin: 0; 
		padding: 0;
		width: 200px;
		}
	div#block-nice_menus-2 ul#nice-menu-2 li,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu-89 {	
		display: list-item;
		width: 100%;
		padding: .2em 0;
		border: none;
		border-top: 1px solid white;
		background-color: rgb(237,63,120);
		}

	div#block-nice_menus-2 ul#nice-menu-2 li.menuparent a {
		color: white;
		}
	div#block-nice_menus-2 ul.nice-menu-down ul li {
  		background-color: rgb(237,63,120);
  		border: none;
  		width: 100%;
		}
	div#block-nice_menus-2 ul.nice-menu-down ul li a:hover {
  		background-color: rgb(150,150,139);
		}
/******************************
 END HORIZONTAL (down) menus
******************************/

	#block-tagadelic-1 {
		position: fixed;
		top: 30px;
		left: 260px;
		width: 200px;
		z-index: 9;
		}
	#block-tagadelic-1 div.block-inner {
		padding: .5em;
		background: rgb(237,63,120);
		}

	#search-box {
		position: fixed;
		top: 30px;
		left: 490px;
		width: 200px;
		z-index: 9;
		color: rgb(60,53,52);
		}
	#search-theme-form { padding: .4em; background: rgb(237,63,120); }
	#edit-search-theme-form-keys { width: 115px; }
		
	#footer {
		position: fixed;
		right: 30px;
		bottom: 100px;
		z-index: 10;
		width: 200px;
		font-size: 75%;
		text-transform: uppercase;
		letter-spacing: .1em;
		}
	#footer-inner { padding: .3em; color:  white; background: rgb(123,130,79); }
	#footer-message { padding: .3em; }

/* =ookb */
	#ookb {
		position: fixed;
		top: 30px;
		right: 30px;
		width: 200px;
		z-index: 10;
		}

	#ookb dl {
		background: rgb(123,130,79);	
		padding: .3em;
		list-style: none;
		}	
	#ookb dl dt,
	#ookb dl dd {
		margin: .3em;
		padding: .2em 0;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		font-size: .75em;
		}
	#ookb dl dt { color: rgb(60,53,52); }

/* =menu drop shadows */
	div#block-nice_menus-1,
	div#block-nice_menus-2,
	#block-tagadelic-1,
	#search-box,
	#footer,
	#ookb {
		background: url('shadow.gif') no-repeat bottom right;
		}
 
	div#block-nice_menus-1 ul#nice-menu-1,
	div#block-nice_menus-2 ul#nice-menu-2,
	#block-tagadelic-1 div.block-inner,
	#search-theme-form,
	#footer-inner,
	#ookb dl {
		border: 1px solid #a9a9a9;
		display: block;
		margin: -5px 5px 5px -5px;
		}

/* =Typography */
	body {
		font-family: helvetica, verdana, arial, sans-serif;
		font-size: .9em;
		}

	a { text-decoration: none; color: white; }

	.page-explanation #main #content h1.title,
	.page-experience #main #content h1.title,
	.page-education #main #content h1.title { display: none; }
	
	.page-explanation #main #content .node,
	.page-experience #main #content .node,
	.page-education #main #content .node,
	#content-header h1.title {
		font-size: 300%;
		line-height: 1.3;
		max-width: 900px;
		font-family: georgia;
		}
		
	.page-experience #main #content .node ul,
	.page-education #main #content .node ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		
	body #page div.edit { border: 1px solid rgb(60,53,52); background: none; }
	body #page div.edit a { color: rgb(60,53,52) !important; }	
		
/* =content */
	.view-frontpage {
		padding: 0;
		}
		
/* =Styling the thumbnail lists */
	.item-list ul {
		margin: 0;
		padding: 0;
		}
	.item-list ul li,
	.item-list ul li .field-item {
		display: inline;
		margin: .1em;
		}
	.item-list ul li .field-item img {
		float: left;
		margin: .1em;
		}

/* =getting taxonomy pages to show up correctly */
	.section-category #content .node h2.title {
		display: none;
		}
	.section-category #content .node h2.title		
/* =display: none; */
	.section-category div.submitted,
	.section-category div.taxonomy,
	.section-category .field div.field-label,
	#secondary,
	#primary,
	.breadcrumb,
	#block-tagadelic-1 div.block-inner h2.title,
	.front #main #content #content-header h1,
	div#block-nice_menus-2 h2.title,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu-10,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu--192,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu--197,
	div#block-nice_menus-2 ul#nice-menu-2 li.menu-path-user-1,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu-5,
	div#block-nice_menus-2 ul#nice-menu-2 li#menu-6 {
		display: none;
		}